{% extends "Principal/father.html" %}
{% load static %}

{% block section1 %}

    {% for news_item in objects %}
    <div class="container"></div>
        <div class="row">
            <div class="col-lg-6">
                <!-- Blog post-->
                <div class="card mb-4">
                    {% if news_item.image%}
                    <a href="#!"><img class="card-img-top" src="{{ news_item.image.url }}" alt="..." /></a>
                    {% endif %}
                    <div class="card-body">
                        <div class="small text-muted">{{news_item.date}}</div>
                        <h2 class="card-title h4">{{news_item.title}}</h2>
                        <p class="card-text">{{news_item.preview}}</p>
                        <p class="card-text">{{news_item.full_view}}</p>
                        <a class="btn btn-primary" href="#!">Read more →</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock section1 %}
