{% extends "Principal/father.html" %}
{% load static %}

{% block section1 %}
    <div class="container">
        <div class="card">
            <h2 class="card-title">Sobre mi</h2>
            <div class="card-body">
                <p>
                    Me llamo Andrés Ignacio Vargas Gutiérrez y tengo 20 años, viendo este blog podrán darse cuenta que uno de mis hobbies favoritos
                    son los videojuegos y todo lo que a ellos respecta, como noticias de la industria, nuevos lanzamietos, etc.
                </p>
                <p>
                    Otro de mis hobbies es la tecnologia y la computación, por lo que desde muy temprano me interese por los computadores y mas tarde 
                    por la programación, con 17 años me inscribí al curso de desarrollo web en CoderHouse, a pesar de que no me gusto para nada
                    el desarrollo front-end (se pueden presenciar en esta web mis horribles dotes con html y css), descubrí que realmente me gustaba
                    la programación y que eso era a lo que me queria dedicar. Tras entrar a la universidad a estudiar informatica, me di cuenta
                    que no me gustaba para nada la metodologia de enseñanza que se usa, asi que contra toda opinión y sin la confianza de nadie,
                    decidí salirme de la carrera y continuar de manera autodidacta, por supuesto esto ha hecho el camino bastante mas dificil y
                    he tenido que esforzarme mucho mas para lograr cosas. Actualmente estoy terminando mi segundo curso de programación, desarrollo back-end con django donde
                    porfin puedo darme cuenta que estoy logrando cosas y que mi decisión de ser autodidacta ha sido la correcta.  
                </p>
            </div>
        </div>
    </div>
{% endblock section1 %}